<div class="details-container">
    <form [formGroup]="superHeroeForm" class="form-container" (ngSubmit)="onSubmit()">
        <div class="row-container">
            <mat-form-field appearance="standard">
                <mat-label>Super Hero Name</mat-label>
                <mat-icon class="prefix-icon" matPrefix>badge</mat-icon>
                <input formControlName="name" matInput appUppercase autocomplete="off">
                <mat-error *ngIf="superHeroeForm.get('name').hasError('required')">
                    You must give an awesome name to your hero
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Intelligence</mat-label>
                <mat-icon class="prefix-icon" matPrefix>self_improvement</mat-icon>
                <input type="number" formControlName="intelligence" matInput autocomplete="off">
                <span matSuffix>IQ</span>
            </mat-form-field>
        </div>
        <div class="row-container">
            <mat-form-field appearance="standard">
                <mat-label>Strength</mat-label>
                <mat-icon class="prefix-icon" matPrefix>fitness_center</mat-icon>
                <input type="number" formControlName="strength" matInput autocomplete="off">
                <span matSuffix>N</span>
                <mat-error *ngIf="superHeroeForm.get('strength').hasError('required')">
                    This hero has not strength value!
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Speed</mat-label>
                <mat-icon class="prefix-icon" matPrefix>directions_run</mat-icon>
                <input type="number" formControlName="speed" matInput autocomplete="off">
                <span matSuffix>Km/h</span>
            </mat-form-field>
        </div>
        <div class="row-container">
            <mat-form-field appearance="standard">
                <mat-label>Gender</mat-label>
                <mat-icon class="prefix-icon" matPrefix>transgender</mat-icon>
                <mat-select formControlName="gender" autocomplete="off">
                    <mat-option>Select</mat-option>
                    <mat-option *ngFor="let gender of genderOptions" [value]="gender">
                        {{ gender }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="superHeroeForm.get('gender').hasError('required')">
                    This hero has not gender value!
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Race</mat-label>
                <mat-icon class="prefix-icon" matPrefix>groups</mat-icon>
                <mat-select formControlName="race" autocomplete="off">
                    <mat-option>Select</mat-option>
                    <mat-option *ngFor="let race of raceOptions" [value]="race">
                        {{ race }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="superHeroeForm.get('race').hasError('required')">
                    Which kind of race this hero is?
                </mat-error>
            </mat-form-field>
    
        </div>
        <div class="row-container">
            <mat-form-field appearance="standard">
                <mat-label>Height</mat-label>
                <mat-icon class="prefix-icon" matPrefix>emoji_people</mat-icon>
                <input type="number" formControlName="height" matInput autocomplete="off">
                <span matSuffix>Mts</span>
            </mat-form-field>
            <mat-form-field appearance="standard">
                <mat-label>Weight</mat-label>
                <mat-icon class="prefix-icon" matPrefix>monitor_weight</mat-icon>
                <input type="number" formControlName="weight" matInput autocomplete="off">
                <span matSuffix>Kg</span>
            </mat-form-field>
        </div>
        
        <div class="row-buttons-container">
            <button class="button control-button" mat-button color="primary" 
                type="button" (click)="cancel()">Cancel</button>
            
            <button class="button control-button" mat-button color="primary"
                type="submit">{{ action }}</button>
        </div>
    </form>
</div>